select {
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    width: auto;
    background-color: transparent;
}

select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
